@import url(https://fonts.googleapis.com/css/family=Poppins&display=swap);

body {
    background-color: rgb(36, 37, 39);
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-style: normal;
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  
  /*  Center Hack */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#images {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-items: center;
}

#clearfix-hack {
  color: rgb(36, 37, 39)
}

img {
    border-radius: 50%;
    height: 10%;
    width: auto;
}